<div class="flex items-center item">
	<div class="flex-grow">
		{{ form_row(form.name) }}
	</div>
	<button type="button" onclick="removeItem()" class="icon-btn btn-remove">
		<span class="material-symbols-rounded">Delete</span>
	</button>
</div>
<script>
	const e = document.querySelector('.item');
	const removeItem = () => {
		e.remove();
	}
</script>
