<div hx-target="this" hx-swap="outerHTML" class="flex items-center">
	<p>Êtes-vous sûr(e)?</p>
	<button hx-target="#show-guest" hx-get="{{ path('app_account_rem_guest', {id: id}) }}"
	        class="btn">Oui</button>
	<button hx-get="{{ path('app_del-guest', {id: id}) }}" class="btn">Non</button>
</div>