<div hx-target="this" hx-swap="outerHTML" class="flex gap-2 items-center">
	<p class="text-white">Are you sure?</p>
	<button hx-target="#show-guest" hx-get="{{ path('app_account_rem_guest', {id: id}) }}"
	        class="btn btn-danger w-20">Yes</button>
	<button
			hx-get="{{ path('app_del-guest', {id: id}) }}"
			class="btn btn-cancel w-20">No</button>
</div>