<div hx-target="this" hx-swap="outerHTML" id="show-guest">
	<div class="flex items-center h-12 mb-4">
		<button hx-get="{{ path('app_account_show') }}" class="btn-icon-right">
			<span class="material-symbols-rounded button-icon">navigate_before</span>Retour
		</button>
	</div>
	{% set path = path('app_account_edit_user-guest', {id: app.user.id}) %}
	{{ include('account/_guest-field.html.twig', {
		index: 1,
		firstname: '%s %s'|format(app.user.lastname, app.user.firstname),
		adult: true,
		allergies: app.user.allergies,
		editPath: path,
		allowDelete: false,
	}) }}

	{% for guest in app.user.guests %}
		{% set path = path('app_account_edit_guest', {id: guest.id}) %}
		{% set index = loop.index + 1 %}
		{{ include('account/_guest-field.html.twig', {
			index: index,
			firstname: guest.firstname,
			adult: guest.adult,
			allergies: guest.allergies,
			editPath: path,
			allowDelete: true,
			guestId : guest.id,
		}) }}
	{% endfor %}

	<div class="flex justify-end">
		<button hx-get="{{ path('app_account_add_guest') }}" class="btn-icon-left">
			Ajouter <span class="material-symbols-rounded button-icon">Add</span>
		</button>
	</div>
</div>