{% extends 'base.html.twig' %}

{% block title %}Gestion{% endblock %}

{% block body %}
	<div class="max-w-2xl mx-auto p-8 sm:p-7 md:p-6 lg:p-4">
		<div class="absolute z-10">
			<a class="textLink" href="{{ path('app_logout') }}">Se déconnecter</a>
		</div>

		<div class="w-fit mx-auto text-center mb-8">
			<span class="material-symbols-rounded title-icon text-textColor">settings</span>
			<h1 class="textH1">Gestion</h1>
		</div>

		{{ include('management/section.html.twig') }}

	</div>
{% endblock %}
