<div hx-target="this" hx-swap="outerHTML">
	<div class="p-2 border border-2 border-secondary rounded mb-4">
		<a class="textLink" href="#">Gestion de la Galerie</a>
	</div>
	<div class="p-2 border border-2 border-secondary rounded mb-4">
		<a class="textLink" href="#">Gestion des menus</a>
	</div>
	<div class="p-2 border border-2 border-secondary rounded mb-4">
		<a class="textLink" href="#">Gestion utilisateurs</a>
	</div>
</div>