<div hx-target="this" hx-swap="outerHTML">
	<div class="flex justify-center mb-6">
		<button class="btn w-3/4">
			Gestion de la Galerie
		</button>
	</div>
	<div class="flex justify-center mb-6">
		<button class="btn w-3/4" hx-get="{{ path('app_management_menu') }}">
			Gestion des menus
		</button>
	</div>
	<div class="flex justify-center mb-6">
		<button class="btn w-3/4" hx-get="{{ path('app_management_recipe') }}">
			Gestion de la carte
		</button>
	</div>
	<div class="flex justify-center">
		<button class="btn w-3/4">
			Gestion utilisateurs
		</button>
	</div>
</div>