{% extends 'base.html.twig' %}

{% block title %}{{ 'title.reservation'|trans }}{% endblock %}

{% block body %}

    <div class="max-w-2xl mx-auto p-8 sm:p-7 md:p-6 lg:p-4">

        <div class="w-fit mx-auto text-center mb-8">
            <span class="material-symbols-rounded title-icon text-textColor">calendar_today</span>
            <h1 class="textH1">{% trans %}h1.reservation{% endtrans %}</h1>
        </div>

    </div>
{% endblock %}