{% extends 'base.html.twig' %}

{% block title %}{{ 'title.reservation'|trans }}{% endblock %}

{% block body %}

	{{ include('_flash-message.html.twig') }}

	<div class="max-w-2xl mx-auto p-8 sm:p-7 md:p-6 lg:p-4">

		<div class="w-fit mx-auto text-center mb-8">
			<span class="material-symbols-rounded title-icon text-textColor">calendar_today</span>
			<h1 class="textH1">{% trans %}h1.reservation{% endtrans %}</h1>
		</div>

		<div class="card text-lightText" id="booking-card">

			{% set current_date = '%s-%s-%s'|format(year, month, day) %}
			{{ include('booking/show-date.html.twig',
				{ date: current_date,
					services: services,
				}) }}

		</div>

	</div>
{% endblock %}