<div class="flex justify-evenly items-center uppercase mb-4">
	{% set current_date = '%s-%s-%s'|format(year, month, day) %}
	{{ current_date|format_datetime(locale=app.request.locale, pattern="MMMM Y") }}
	{% set prevWeek = current_date|date_modify('-7 day') %}
	{% set nextWeek = current_date|date_modify('+7 day') %}
	{% set pwYear = prevWeek|date('Y') %}
	{% set pwMonth = prevWeek|date('m') %}
	{% set pwDay = prevWeek|date('d') %}
	{% set nwYear = nextWeek|date('Y') %}
	{% set nwMonth = nextWeek|date('m') %}
	{% set nwDay = nextWeek|date('d') %}
	{% set strPrevWeek = '%s-%s-%s'|format(pwYear, pwMonth, pwDay) %}
	{% set strNextWeek = '%s-%s-%s'|format(nwYear, nwMonth, nwDay) %}
	<button class="btn"
	        hx-get="{{ path('app_booking_date', { date: strPrevWeek }) }}"
	        hx-swap="innerHTML"
	        hx-target="#booking-card">
		<
	</button>
	<button class="btn"
	        hx-get="{{ path('app_booking_date', {date: strNextWeek}) }}"
	        hx-swap="innerHTML"
	        hx-target="#booking-card">
		>
	</button>
</div>

{% for i in 0..6 %}
	{% set cur_date = current_date|date_modify("+#{i} day") %}
	<div class="flex justify-evenly items-center mb-4">
		{{ cur_date|format_datetime(locale=app.request.locale, pattern="dd MMMM") }}
		<div>
			<button class="btn">Midi</button>
			<button class="btn">Soir</button>
		</div>
	</div>
{% endfor %}