<div hx-target="this" hx-swap="outerHTML" class="toggle delete flex-col p-2">
	<p class="text-white">Êtes-vous sûr(e)?</p>
	<button
			hx-target="#gallery-gestion"
			hx-get="{{ path('app_management_remove-image', {id: id}) }}"
			class="btn btn-danger">Oui</button>
	<button hx-get="{{ path('app_management_delete-image', {id: id}) }}" class="btn btn-cancel">Non</button>
</div>