<div hx-target="this" hx-swap="outerHTML" class="toggle delete">
	<span hx-get="{{ path('app_management_confirm-delete-image', {id: id}) }}"
			class="material-symbols-rounded text-error">delete</span>
</div>