<div class="flex items-center allergy-item">
	<div class="flex-grow">
		{{ form_row(form.name) }}
	</div>
	<button type="button" onclick="removeComposition(this)" class="icon-btn btn-remove">
		<span class="material-symbols-rounded">Delete</span>
	</button>
</div>
<script>
	const removeComposition = (e) => {
		const b = e.closest('.allergy-item');
		b.remove();
	}
</script>