<div hx-target="this" hx-swap="outerHTML" class="flex items-center">
	<p class="text-white">Êtes-vous sûr(e)?</p>
	<button hx-target="#menu-gestion" hx-get="{{ path('app_management_rem_menu', {id: id}) }}"
	        class="btn btn-danger">Oui</button>
	<button hx-get="{{ path('app_management_delete_menu', {id: id}) }}" class="btn btn-cancel">Non</button>
</div>