<div hx-target="this" hx-swap="outerHTML" class="flex items-center">
	<button hx-get="{{ path('app_management_confirm_del_menu', {id: id}) }}" class="icon-btn">
		<span class="material-symbols-rounded">Delete</span>
	</button>
</div>