<div class="flex items-center form-item">
	<div class="flex-grow">
		{{ form_row(form.name) }}
	</div>
	<button
			type="button"
			class="icon-btn btn-remove btn-danger">
		<span class="material-symbols-rounded">Delete</span>
	</button>
</div>