@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .card {
        @apply bg-darkBg drop-shadow-xl p-6 mb-6 rounded-lg
    }

    .btn {
        @apply bg-primary text-lightText m-1 px-4 py-2 rounded uppercase border-2 border-primary
        hover:bg-secondary hover:border-secondary
        active:px-3.5 active:py-1.5 active:m-1.5
    }

    .icon-btn {
        @apply bg-primary text-lightText m-1 p-3 rounded border-2 border-primary
            flex gap-1 justify-center items-center
        hover:bg-secondary hover:border-secondary
        active:p-2.5 active:m-1.5
    }

    .btn-icon-right {
        @apply bg-primary text-lightText m-1 pl-4 pr-3 py-2 rounded border-2 border-primary
            flex justify-center items-center gap-2
        hover:bg-secondary hover:border-secondary
        active:pl-3.5 active:pr-2.5 active:py-1.5 active:m-1.5
    }

    .btn-icon-left {
        @apply bg-primary text-lightText m-1 pl-3 pr-4 py-2 rounded border-2 border-primary
        flex justify-center items-center gap-2
        hover:bg-secondary hover:border-secondary
        active:pl-2.5 active:pr-3.5 active:py-1.5 active:m-1.5
    }

    .vertical-btn {
        @apply text-textColor m-1 p-3 rounded text-2xl
        flex flex-col gap-1 justify-center items-center
        hover:bg-secondary hover:text-lightText
        active:p-2.5 active:m-1.5
    }

    .textH1 {
        @apply font-extrabold text-4xl text-center
    }

    .textH2 {
        @apply font-semibold text-3xl text-center
    }

    .textH3 {
        @apply font-medium text-xl text-center
    }

    .textLink {
        @apply underline text-link
    }

    .drag-ul {
        @apply m-0 p-0
    }

    .drag-li {
        @apply w-2/3 mx-auto p-3 mb-2 rounded
        border border-2 border-black
        text-textColor bg-white
        list-none cursor-move
        flex justify-between items-center
    }

    .btn-danger {
        @apply border-warning
        hover:bg-warning hover:text-white hover:border-warning
    }

    .btn-cancel {
        @apply bg-transparent border-gray-300 text-gray-300
        hover:bg-transparent hover:text-gray-400 hover:border-gray-400
    }

    .btn-valid {
        @apply border-valid
        hover:bg-valid hover:text-white hover:border-valid
    }

    .drag-over {
        @apply bg-valid text-white
    }

    button:disabled {
        @apply border-gray-200 bg-gray-200 text-gray-400
    }

    button:disabled:hover {
        @apply border-gray-200 bg-gray-200 text-gray-400
    }
}

body,
button {
    font-family: 'WinstonRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
}

/* ----------------------------------------------------ARROW BUTTON ON SELECT*/

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image:
            linear-gradient(45deg, transparent 50%, rgb(6, 3, 22) 50%),
            linear-gradient(135deg, rgb(6, 3, 22) 50%, transparent 50%),
            linear-gradient(to right, rgb(166, 161, 152), rgb(166, 161, 152));
    background-position:
            calc(100% - 24px) calc(1em + 3px),
            calc(100% - 14px) calc(1em + 3px),
            100% 0;
    background-size:
            10px 10px,
            10px 10px,
            3em 3em;
    background-repeat: no-repeat;
}

 /* ---------------------------------------------------------GOOGLE FONT ICON*/

 .material-symbols-rounded {
     font-variation-settings:
             'FILL' 1,
             'wght' 700,
             'GRAD' 0,
             'opsz' 48
 }

 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }

.material-symbols-rounded.title-icon { font-size: 96px}
.material-symbols-outlined.title-icon { font-size: 96px}

.material-symbols-rounded.vertical-icon { font-size: 48px}
.material-symbols-outlined.vertical-icon {
    font-size: 48px;
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48
}

.material-symbols-rounded.button-icon { font-size: 24px}
.material-symbols-outlined.button-icon { font-size: 24px}

/* -------------------------------------------------------------HOME VIGNETTE*/

.hero {
    min-height: 750px;
    background-position: center;
    background-size: cover;
}

.home-vignette {
    height: 200px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
.home-vignette img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

/* ----------------------------------------------------------GALLERY VIGNETTE*/

.gallery {
    position: relative;
    display: flex;
    justify-content: center;
}

.gallery-image {
    display: block;
    width: fit-content;
    border-radius: 0.75rem;
    box-shadow: rgba(0, 0, 0, 0.07) 0 1px 1px,
                rgba(0, 0, 0, 0.07) 0 2px 2px,
                rgba(0, 0, 0, 0.07) 0 4px 4px,
                rgba(0, 0, 0, 0.07) 0 8px 8px,
                rgba(0, 0, 0, 0.07) 0 16px 16px;
}

.gallery > span {
    display: none;
}

.gallery:hover > span {
    display: block;
}

.g-zoom-bgrd {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(10,10,10,0.7);
    z-index: 15;
}

.g-zoom {
    position: fixed;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -45%);
}

.zoom-close {
    position: fixed;
    top: 0;
    right: 0;
    transform: translate(50%, -50%);
}

/* ------------------------------------------------------------FLASH MESSAGE */

.flash {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    animation: show 4000ms ease-in-out;
}

@keyframes show {
    0% {
        top: -100px;
    }
    6% {
        top: 100px;
    }
    94% {
        top: 100px;
    }
}