@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .btn {
        @apply text-primary m-1 px-4 py-2 rounded border-2 border-primary
        hover:bg-primary hover:text-lightText
        active:px-3.5 active:py-1.5 active:m-1.5
    }

    .icon-btn {
        @apply text-primary m-1 p-3 rounded border-2 border-primary
            flex gap-1 justify-center items-center
        hover:bg-primary hover:text-lightText
        active:p-2.5 active:m-1.5
    }

    .btn-icon-left {
        @apply text-primary m-1 pl-4 pr-3 py-2 rounded border-2 border-primary
            flex justify-center items-center gap-2
        hover:bg-primary hover:text-lightText
        active:pl-3.5 active:pr-2.5 active:py-1.5 active:m-1.5
    }

    .btn-icon-right {
        @apply text-primary m-1 pl-3 pr-4 py-2 rounded border-2 border-primary
        flex justify-center items-center gap-2
        hover:bg-primary hover:text-lightText
        active:pl-2.5 active:pr-3.5 active:py-1.5 active:m-1.5
    }

    .vertical-btn {
        @apply text-primary m-1 p-3 rounded text-2xl
        flex flex-col gap-1 justify-center items-center
        hover:bg-primary hover:text-lightText
        active:p-2.5 active:m-1.5
    }

    .textH1 {
        @apply font-extrabold text-4xl text-center text-textColor
    }

    .textH2 {
        @apply font-semibold text-3xl text-center text-textColor
    }

    .textH3 {
        @apply font-medium text-xl text-center text-textColor
    }

    .textLink {
        @apply underline text-link
    }

    .drag-ul {
        @apply m-0 p-0
    }

    .drag-li {
        @apply w-1/2 mx-auto p-3 mb-2 rounded
        border border-2 border-black
        text-textColor bg-white
        list-none cursor-move
        flex justify-between items-center
    }

    .drag-over {
        @apply bg-valid text-white
    }
}

body,
button {
    font-family: 'WinstonRegular', sans-serif;
    font-weight: normal;
    font-style: normal;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-image:
            linear-gradient(45deg, transparent 50%, rgb(6, 3, 22) 50%),
            linear-gradient(135deg, rgb(6, 3, 22) 50%, transparent 50%),
            linear-gradient(to right, rgb(166, 161, 152), rgb(166, 161, 152));
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 10px) calc(1em + 2px),
            100% 0;
    background-size:
            10px 10px,
            10px 10px,
            2.5em 2.5em;
    background-repeat: no-repeat;
}

 .material-symbols-rounded {
     font-variation-settings:
             'FILL' 1,
             'wght' 700,
             'GRAD' 0,
             'opsz' 48
 }

 .material-symbols-outlined {
     font-variation-settings:
             'FILL' 0,
             'wght' 400,
             'GRAD' 0,
             'opsz' 48
 }

.material-symbols-rounded.title-icon { font-size: 96px}
.material-symbols-outlined.title-icon { font-size: 96px}

.material-symbols-rounded.vertical-icon { font-size: 48px}
.material-symbols-outlined.vertical-icon {
    font-size: 48px;
    font-variation-settings:
            'FILL' 0,
            'wght' 600,
            'GRAD' 0,
            'opsz' 48
}

.material-symbols-rounded.button-icon { font-size: 24px}
.material-symbols-outlined.button-icon { font-size: 24px}

.home-vignette {
    height: 200px;
}
.home-vignette img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
}

.flash {
    position: fixed;
    top: -100px;
    left: 50%;
    transform: translateX(-50%);
    animation: show 4000ms ease-in-out;
}

@keyframes show {
    0% {
        top: -100px;
    }
    6% {
        top: 100px;
    }
    94% {
        top: 100px;
    }
}

/* FOR list order */



.drag-li.drag-sort-active {
    background: transparent;
    color: transparent;
    border: 1px solid #4ca1af;
}

.drag-span.drag-sort-active {
    background: transparent;
    color: transparent;
}