<div hx-target="this" hx-swap="outerHTML" id="user-gestion">
	{{ include('_flash-message.html.twig') }}

	{{ include('_back-button.html.twig', {path: path('app_management_action')}) }}

	<div class="card">
		<div class="grid grid-cols-4 text-center uppercase text-xl items-center text-lightText p-2 rounded mb-4">
			<span class="p-2 col-span-2">Email</span>
			<span class="p-2">Role</span>
			<span class="p-2">Actions</span>
		</div>
		{% for user in users %}
			<div class="{{ 'userId-%s'|format(user.id) }}">
				{{ include('management/user/_user-information.html.twig', {user: user}) }}
			</div>
		{% endfor %}
	</div>
</div>