<div class="flex items-center h-12 mb-4">
	<button hx-get="{{ path }}" class="btn-icon-left">
		<span class="material-symbols-rounded button-icon">navigate_before</span>
		{% trans %}button.back{% endtrans %}
	</button>
</div>