{% for message in app.flashes('success') %}
	<div class="flash bg-valid text-black rounded
		w-fit px-4 py-2 z-[15]
		ring-2 ring-valid ring-offset-4">
		{{ message }}
	</div>
{% endfor %}
{% for message in app.flashes('error') %}
	<div class="flash bg-error text-white rounded
		w-fit px-4 py-2 z-[15]
		ring-2 ring-error ring-offset-4">
		{{ message }}
	</div>
{% endfor %}