<div class="bg-darkBg">
	<div class="mx-auto max-w-7xl p-2 sm:px-6 lg:px-8">
		<div class="grid grid-cols-1 md:grid-cols-3 gap-6">
			<div class="flex flex-col justify-center items-center">
				<h2 class="textH2 text-lightText">Quai Antique</h2>
				<p class="font-semibold text-lightText">17 place du 8 mai 1945</p>
				<p class="font-semibold text-lightText">73000 CHAMBÉRY</p>
			</div>
			<div class="flex flex-col justify-center items-center">
				<p class="font-bold text-lightText">reservation@quai-antique.fr</p>
				<p class="font-bold text-lightText">01 23 45 67 89</p>
			</div>
			<div class="flex flex-col justify-center items-center lg:items-start text-lightText">
				{{ render(controller('App\\Controller\\HomeController::showCurrentSchedule')) }}
			</div>
		</div>
		<div class="w-full text-lightText text-center my-3">
			@ Copyright 2023 Le Quai Antique Tous droits réservés Site réalisé par tekoathome
		</div>
	</div>
</div>
