<div class="mx-auto max-w-7xl p-2 sm:px-6 lg:px-8">
	<div class="flex justify-center items-center gap-4 sm:gap-7 lg:gap-10">
		<button class="vertical-btn">
			<span class="material-symbols-outlined vertical-icon">Calendar_today</span>Booking
		</button>
		<button class="vertical-btn">
			<span class="material-symbols-rounded vertical-icon">Phone</span>Call us
		</button>
		<a class="vertical-btn" href="{{ path('app_home_show-maps') }}">
			<span class="material-symbols-outlined vertical-icon">Map</span>Find us
		</a>
	</div>
</div>