<div class="mx-auto max-w-7xl p-2 sm:px-6 lg:px-8">
	<div class="flex justify-center items-center gap-1 md:gap-4 sm:gap-7 lg:gap-10">
		<a class="vertical-btn" href="{{ path('app_booking') }}">
			<span class="material-symbols-outlined vertical-icon">Calendar_today</span>
			{% trans %}nav.book{% endtrans %}
		</a>
		<button class="vertical-btn">
			<span class="material-symbols-rounded vertical-icon">Phone</span>
			{% trans %}nav.call{% endtrans %}
		</button>
		<a class="vertical-btn" href="{{ path('app_home_show-maps') }}">
			<span class="material-symbols-outlined vertical-icon">Map</span>
			{% trans %}nav.map{% endtrans %}
		</a>
	</div>
</div>