<div class="mx-auto max-w-7xl p-2 sm:px-6 lg:px-8">
	<div class="flex justify-center items-center gap-4 sm:gap-7 lg:gap-10">
		<button class="vertical-btn">
			<span class="material-symbols-outlined vertical-icon">Calendar_today</span>Réserver
		</button>
		<button class="vertical-btn">
			<span class="material-symbols-rounded vertical-icon">Phone</span>Appeler
		</button>
		<button class="vertical-btn">
			<span class="material-symbols-outlined vertical-icon">Map</span>Itinéraire
		</button>
	</div>
</div>