<nav class="bg-lightText">
	<div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
		<div class="flex items-center justify-between">
			<div>
				<a href="{{ path('app_home') }}" class="cursor-pointer">
					<img src="{{ asset('build/images/Logo.png') }}" alt="logo" class="h-20 px-3 py-2">
				</a>
			</div>
			<div class="flex px-3 py-2 gap-4">
				<a class="text-textColor" href="#">Réservation</a>
				<a class="text-textColor" href="#">Galerie</a>
				<a class="text-textColor" href="#">Carte</a>
				<a class="text-textColor" href="#">Contact</a>
				<a
						class="text-textColor"
						href="{{ app.user ? path('app_account') : path('app_login') }}">
					{{ app.user ? 'Compte' : 'Connexion' }}
				</a>
				<!--TODO: Change path route to account when user is connected -->
			</div>
		</div>
	</div>
</nav>