<div hx-target="this" hx-swap="outerHTML" class="flex flex-col justify-center items-center">
	<p class="p-2">Êtes-vous sûr(e)?</p>
	<div class="flex p-2">
		<button hx-target="#recipe-gestion" hx-get="{{ path('app_management_rem_recipe', {id: id}) }}"
		        class="btn">Oui
		</button>
		<button hx-get="{{ path('app_management_manage_recipe', {id: id}) }}" class="btn">Non</button>
	</div>
</div>