<div hx-target="this" hx-swap="outerHTML" class="flex items-center">
	<button
			class="w-fit icon-btn"
			hx-target="{{ '#cat-%d'|format(id) }}"
			hx-get="{{ path('app_management_edit_category', {id: id}) }}">
		<span class="material-symbols-rounded">Edit</span>
	</button>

	<button
			{% if not allowDelete %}disabled{% endif %}
			hx-get="{{ path('app_management_confirm_del_category', {id: id}) }}"
			class="icon-btn btn-danger">
		<span class="material-symbols-rounded">Delete</span>
	</button>

</div>