<div
		hx-target="this"
		hx-swap="outerHTML"
		id="{{ 'cat-%d'|format(id) }}"
		class="flex gap-4 items-center">

	<div class="flex-grow bg-white p-3 rounded">
		{{ name }}
	</div>

	{{ include('management/recipe/_manage-category.html.twig', {
		id: id,
		allowDelete: allowDelete
	}) }}

</div>