<div
		hx-target="this"
		hx-swap="outerHTML"
		id="{{ 'cat-%d'|format(id) }}"
		class="grid grid-cols-3 items-center">

	<div class="col-span-2 border border-2 border-black p-3 rounded">
		{{ name }}
	</div>

	{{ include('management/recipe/_manage-category.html.twig', {id: id}) }}

</div>