<div class="flex justify-evenly items-center text-lightText">
	<div class="flex-grow">{{ include('_deco.html.twig') }}</div>
	<span class="textH2 w-fit mx-4">{{ title }}</span>
	<div class="flex-grow">{{ include('_deco.html.twig') }}</div>
</div>