<div class="text-lightText py-2 mb-4">
	<div class="flex justify-between py-2">
		<span class="textH3">{{ name }}</span>
		<span>{{ price }}€</span>
	</div>
	<div class="py-2">
		{{ description }}
	</div>
</div>