<div class="flex justify-center items-center gap-2 form-item">
	<div class="number-input">
		{{ form_widget(table) }}
		<button type="button" class="number-button number-plus text-lightText">+</button>
		<button type="button" class="number-button number-minus text-lightText">-</button>
	</div>
	<button class="icon-btn btn-danger btn-remove mb-6">
		<span class="material-symbols-rounded">delete</span>
	</button>
</div>